[Desktop Entry]
Version=1.0
Name=Pomodoro Study App
Comment= Pomodoro Study App written in flutter
Exec=flatpak run org.michaelvogt.fl_studyapp
Icon=org.michaelvogt.fl_studyapp
Terminal=false
Type=Application
Categories=Utility;Application;

